<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css" />
   <link rel="stylesheet" href="css/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


   {{>navbar}}

   {{!--==============main section======================== --}}

   {{>home}}

   {{!-- ==================== main section end================================ --}}

   {{!-- ============================ about us start================================== --}}

   {{>about}}

   {{!-- ============================ about us end================================== --}}

   {{!-- ============================ services start================================== --}}

   {{>skill}}

   {{!-- ============================ services end================================== --}}

   {{!-- ================================ Projects start ====================================== --}}

   {{>project}}

   {{!-- ================================ Projects start ====================================== --}}

   {{!-- ====================================form start=================================== --}}

   {{>contact}}

   {{!-- ====================================form end =================================== --}}

   {{!-- ========================footer start===================================== --}}
   <div class="container-fluid">
      <div class="footer-section">
         <h5 class="text-center">create with <i class="fa-solid fa-heart fa-beat"></i> by Priyanshi Rathour</h5>
         <h5 class="text-center">priyanshirathour225@gmail.com</h5>
      </div>
   </div>


   {{!-- ========================footer end===================================== --}}





   <script src="../jq/jquery.js" type="text/javascript"></script>
   <script src="../js/bootstrap.js" type="text/javascript"></script>
  

</body>

</html>