<div class="container-fluid about-style " id="aboutid">
      <div class="row">
        <div class="col-md-10  col-12  mx-auto">
          <h1 class="text-center"> About Me</h1>
          <h2 class="name text-center"> Engineering Student (B.tech -IT) </h2>
           <div class="row ">

             <div class="col-md-6 col-12  pt-5 w-5 hero-text1 ">
                <figure>
                  <img src="https://img.freepik.com/free-vector/person-with-doodle-speech-bubble_98292-4609.jpg?size=626&ext=jpg&ga=GA1.2.1452037473.1689615502&semt=ais" alt="women-image" class="women-img scale-img img-fluid" />
                </figure>
             </div>

             <div class="col-md-6 pt-5 w-5  col-12 hero-text">
                <h4> I have experties in Frontend tools with  Bootstap , <br>Reactjs , Nextjs , javascript<br><br>
                  I have experties in Backend tools with  Nodejs , Express js <br>
                  <br>
                   I have experties in both Structural and Non-Structural Database and knowledge about Dev Tools <br>
                  
                </h4>
             </div>
            
           </div> 
        </div>
      </div>
   </div>
