<div class="container-fluid">
    <div class="row">
        <div class="col-md-10  col-12  mx-auto">
            <div class="row ">
                <div class="col-md-6 pt-5 w-5  col-12 hero-text order-md-0 order-1">
                    <h1 class="hello-text"> Hello !! <i class="fa-solid fa-hand fa-shake"></i></h1>
                    <h2> I am <span class="name">Priyanshi Rathour</span></h2>
                    <h5> I am MERN Stack Developer ✌️</h5>
                    <h5>" Learn from yesterday ,
                        Live for today ,
                        Hope for Tomorrow "</h5>

                    <h1>
                        <pre><a href="https://github.com/priyanshirathour16" rel="link"><i class="fa-brands fa-github"></i></a> <a href="https://www.linkedin.com/in/priyanshi-rathour-72a65a237" rel=""><i class="fa-brands fa-linkedin"></i></a> <a href="https://instagram.com/_priyanshi_166?igshid=MzNlNGNkZWQ4Mg==" rel=""><i class="fa-brands fa-instagram"></i></a></pre>
                    </h1>
                    <a href="image/Priyanshi(CV).pdf" rel="pdf"><button class="btn  btn-1">Resume</button></a>
                    <a href="image/Priyanshi(CL).pdf" rel="pdf"><button class="btn  btn-1">Cover Letter</button></a>
                </div>
                <div class="col-md-6 col-12  pt-5 w-5 hero-text1 order-md-1 order-0">
                    <figure>
                        <img src="image/result.png" alt="women-image" class="women-img rotation-class img-fluid" />
                    </figure>
                </div>

            </div>
        </div>
    </div>
</div>