 <div class="container-fluid about-style " id="serviceid">
      <div class="row">
         <div class="col-md-10  col-12  mx-auto">
            <h1 class="text-center"> Skills</h1>
            <h2 class="name text-center">I have build some skills</h2>
            <div class="row  service-style">
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-servecies setting">
                        <div class="icon">
                           <img src="image/client.avif" alt="image" />
                        </div>
                        <h1> Client - Server Artitecture</h1>
                        
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div class="box">
                     <div class="our-servecies setting">
                        <div class="icon">
                           <img src="image/git.png" alt="hamburger" />
                        </div>
                        <h1> Git & GitHub</h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-servecies setting">
                        <div class="icon">
                           <img src="image/problem.avif" alt="hamburger" />
                        </div>
                        <h1>Problem Solving </h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-servecies setting">
                        <div class="icon">
                           <img src="image/analytical.avif" alt="hamburger" />
                        </div>
                        <h1> Analytical Skill</h1>
                       
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-servecies setting">
                        <div class="icon">
                           <img src="image/programming.avif" alt="hamburger" />
                        </div>
                        <h1> Programming Skill</h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-servecies setting">
                        <div class="icon">
                           <img src="image/communication.avif" alt="hamburger" />
                        </div>
                        <h1> Communication Skill</h1>
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>